@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1693996646 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693996646 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 233px;
}

.custom-shape-divider-bottom-1693996646 .shape-fill {
  fill: rgba(255, 255, 255, 0.22);
}
